@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,body{
   width: 100%;
   height: 100%;
   font-family: 'Lato', sans-serif;
}

.header{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;

  justify-content: center;
  align-items: center;
  background: black;
}

.logo{
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 70px;
   font-weight: bolder;
}

.menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu > ul{
    width: 700px;
}

.menu ul li{
  list-style-type: none;
}

.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.menu ul ul{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li a:after{
  content: url('../icons/strelka.png');
  margin-left: 5px;
}

.hr{
  height: 100%;
  border-left: 1px solid white;
  opacity: 16%;
}


.menu ul ul button{
  height: 48px;
  padding: 0px 25px 0px 25px;
  color: black;
  text-align: center;
  background-color: #FF7143;
  border-radius: 6px;
  font-weight: bolder;
  transition: 500ms all;
}

.menu ul ul button:hover{
  background-color:  #FF865E;
  cursor: pointer;
}


.logo input{
  border: none;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  height: 32px;
  color: white;
  font-size: 16px;
}

.logo input::placeholder{
  color: white;
  text-align: center;
  font-size: 16px;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FF7143;
}

.wel{
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-left: 200px;
  margin-bottom: 20%;
}

.wel span{
  font-size: 72px;
  font-weight: bolder;
}

.wel p{
  font-size: 18px;
  font-weight: bolder;
}

.welimg{
  margin-right: 100px;
  height: 100%;
  overflow: hidden;
}

.welimg img{
  height: 100%;
}

.glavwel{
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zvez{
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.iconzvez{
  width: 200px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.zvez p{
  font-weight: bolder;
  margin: 15px 0px 15px 0px;
  font-size: 20px;
}

.buttons{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buttons button{
  position: relative;
  padding: 25px;
  border-radius: 6px;
  font-weight: bolder;
  border: none;
  width: 45%;
  font-weight: bolder;
  transition: 500ms all;
  cursor: pointer;
}

.buttons button:nth-child(1){
  background: black;
  color: white;
}

.buttons button:nth-child(1):hover{
  background: #2A2A2A;
  transform:translateY(-5px);
}

.buttons button:nth-child(2){
  background: white;
  color: black;
}

.buttons button:nth-child(2):hover{
  background: #A4A4A4;
    transform:translateY(-5px);
}

.smallblock{
  width: 100%;
  height: 30%;
}

.elements{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.textimg{
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textimg p{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bolder;
}

.textimg span{
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 15px;
}

.textimg img{
  margin-left: -100px;
  width: 65px;
  height: 65px;
}

.druk{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drukblock{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.druktext{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.druktext > span{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.druktext > p{
  font-size: 45px;
  font-weight: bold;
  width: 700px;
}



.drukimg{
  height: 100%;
}

.drukimg img{
  height: 100%;
}
